:root {
  --tint-h: 14.396643575624726;
  --tint-s: 100.19089286037493%;
  --tint-l: 50.24356916839001%;
  --tint-hsl: var(--tint-h), var(--tint-s), var(--tint-l);

  --tint: hsl(var(--tint-hsl));
  --tint-10: hsla(var(--tint-hsl), .1);
  --tint-20: hsla(var(--tint-hsl), .2);
  --tint-30: hsla(var(--tint-hsl), .3);
  --tint-40: hsla(var(--tint-hsl), .4);
  --tint-50: hsla(var(--tint-hsl), .5);
  --tint-60: hsla(var(--tint-hsl), .6);
  --tint-70: hsla(var(--tint-hsl), .7);
  --tint-80: hsla(var(--tint-hsl), .8);
  --tint-90: hsla(var(--tint-hsl), .9);

  --tint-warm: hsl(calc(var(--tint-h) + 80), var(--tint-s), var(--tint-l));
  --tint-cold: hsl(calc(var(--tint-h) - 80), var(--tint-s), var(--tint-l));

  --tint-low: hsl(var(--tint-h), calc(var(--tint-s) / 2), var(--tint-l));
  --tint-lowest: hsl(var(--tint-h), calc(var(--tint-s) / 4), var(--tint-l));

  --tint-light: hsl(var(--tint-h), var(--tint-s), calc(var(--tint-l) / .75));
  --tint-dark: hsl(var(--tint-h), var(--tint-s), calc(var(--tint-l) * .75));
}

/* Add line-wrap indicators. */
.viewcode-block span.sd {
  background: inherit;
  display: inline-block;
  padding-right: 2em;
  position: relative;
  white-space: pre-wrap;
}

.viewcode-block span.sd::after {
  background: #f8f8f8;
  content: "  ";
  position: absolute;
}

.viewcode-block span.sd::before {
  color: gray;
  content: "↩";
  position: absolute;
  right: 1em;
  top: 0
}

.wy-side-nav-search {
  background: #222;
}

.wy-side-nav-search>a img.logo {
  width: 64px;
  height: 64px;
}

/* Expand the main content to at most 1600px (from 800px) */
.wy-nav-content {
  max-width: 1600px;
}

/* Expand function header to full width */
.function dt {
  width: 100%;
}

/* Move [source] link to the right */
.function .reference.internal {
  position: relative;
  float: right;
}

/* .rst-content dl:not(.docutils) dt {
  color: var(--tint-dark) !important;
  border-top: var(--tint-light) !important;
} */

.rst-content dl:not(.docutils) dt {
  display:table;
  margin:6px 0;
  font-size:90%;
  line-height:normal;
  background:var(--tint-10);
  color: var(--tint-dark);
  border-top:solid 3px var(--tint) ;
  padding:6px;
  position:relative
}

.rst-content .viewcode-link, .rst-content .viewcode-back {
  color: var(--tint-50);
  font-size: 60%;
}

a {
  color: #333;
}

a:hover {
  color: #666;
}

a:visited {
  color: #666;
}

span.caption-text {
  color: var(--tint);
}
